.users_list {
    table {
        margin: 0 auto;
        width: 98%;
        margin-top: 40px;
        border-collapse: collapse;
        border-spacing: 0;
        table-layout: fixed;
        thead {
            background: #f1f1f1;
        }
        tr {
            border-bottom: 1px solid #e0e0e0;
        }
        th {
            height: 48px;
            line-height: 48px;
        }
        td {
            height: 40px;
            line-height: 40px;
            text-align: center;
        }
        tr:hover {
            background: #eee;
        }
        a {
            color: #f60;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
