.loginBox {
    width: 40%;
    min-width:500px;
    margin: 150px auto 0;

    .title {
        height: 50px;
        line-height: 50px;
        text-align:center;
        border-bottom: .0625rem solid #e5e5e5;
        background:#00bcd4;
        color: #fff;
    }
    .content {
        padding: 20px 0 30px 0;
    }
    .bt {
        margin: 0 0 0 5%;
    }
    a {
        margin-left: 20px;
        line-height: 35px;
    }
}
