a, b, body, button, dd, div, dl, dt, em, footer, form, h1, h2, h3, h4, h5, h6, html, i, img, input, label, li, nav, ol, p, section, select, span, strong, table, td, textarea, th, tr, u, ul {
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
    width: 100%;
    font-size: 14px;
}
input {
    width: 90%;
    height: 35px;
    line-height: 35px;
    display: block;
    margin: 0 auto 20px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: .25rem;
    padding-left: 5px;
    font-size: 1rem;
}
input:focus {
    outline: none;
}
button,.bt {
    width: 150px;
    height: 35px;
    line-height: 35px;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: .25rem;
    font-size: 1rem;
    cursor: pointer;
    line-height: 35px;
    text-align: center;
    display: block;
    color: #333;
    text-decoration: none;
}
.bt-primary {
    color: #fff;
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: #00bcd4;
    transform: translate3d(0, 0, 0);
    border: none;
}
.text-muted {
    color: #818a91;
}
.f12 {
    font-size: 12px;
}
.f14 {
    font-size: 14px;
}
.card {
    box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    background-color: #ffffff;
    border-radius: .25rem;
    border-top: solid 1px #e0e0e0;
}
button {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    padding: 0;
    overflow: hidden;
    border-radius: 2px;
    border: 10px;
}
.pull-right {
    float:right;
}
ul {
    width: 100%;
}
li {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    text-indent: 10px;
    list-style:none
}
.arrow-up {
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid black;
    font-size: 0px;
    line-height: 0px;
}
.arrow-down {
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
    font-size: 0px;
    line-height: 0px;
}
.leftNav {
  width:150px;
  transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.156863) 0px 3px 10px, rgba(0, 0, 0, 0.227451) 0px 3px 10px;
  border-radius: 0px;
  height: 100%;
  transform: translate3d(0px, 0px, 0px);
  overflow: auto;
  background-color: rgb(255, 255, 255);
},
.flexColumn {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}
.flexRow {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
}
a {
    color: #333;
    text-decoration: none;
}
.info {
    text-align: center;
    margin: 0 0 15px 0;
    color: #666;
}
.info-suc {
    color: blue;
}
.info-fail {
    color: red;
}
